// font-color = fc

$PRIMARY-COLOR-dark-blue: #013A4C;
$SECONDARY-COLOR-white: #FFFFFF;

$font-white-pink: #F2DCE4;
$font-dark-purple: #89285B;

$collaborate-bg-color: #d3e8f4;
$footer-special-link-color: #99B0B7;

$btn-article__bg-color: #B73D8B;
$btn-guide__bg-color: #F2DCE4;
$btn-border-color:#346170; 
$btn-bg-color: #FFD063;


// card-hover-bg-color
$card-hover-bg-color: #0f5987;



