// font-size

$font-size-14: 14px;
$font-size-14: 15px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-21: 21px;
$font-size-23: 23px;
$font-size-24: 24px;
$font-size-25: 25px;
$font-size-26: 26px;
$font-size-31: 31px;
$font-size-48: 48px;
$font-size-55: 55px;
$font-size-64: 64px;
$font-size-72: 72px;
$font-size-73: 73px;
$font-size-78: 78px;
$font-size-80: 80px;
$font-size-78: 78px;

